[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "od"]
	path = od
	url = https://github.com/itsleeds/od
[submodule "pct"]
	path = pct
	url = https://github.com/itsleeds/pct
